@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-sans: var(--font-funnel-sans);
  --font-heading: var(--font-bio-rhyme);
  --font-mono: var(--font-geist-mono);

  --color-theme-50: var(--color-neutral-50);
  --color-theme-100: var(--color-neutral-100);
  --color-theme-200: var(--color-neutral-200);
  --color-theme-300: var(--color-neutral-300);
  --color-theme-400: var(--color-neutral-400);
  --color-theme-500: var(--color-neutral-500);
  --color-theme-600: var(--color-neutral-600);
  --color-theme-700: var(--color-neutral-700);
  --color-theme-800: var(--color-neutral-800);
  --color-theme-900: var(--color-neutral-900);
  --color-theme-950: var(--color-neutral-950);

  --color-app-theme-50: var(--color-theme-50);
  --color-app-theme-100: var(--color-theme-100);
  --color-app-theme-200: var(--color-theme-200);
  --color-app-theme-300: var(--color-theme-300);
  --color-app-theme-400: var(--color-theme-400);
  --color-app-theme-500: var(--color-theme-500);
  --color-app-theme-600: var(--color-theme-600);
  --color-app-theme-700: var(--color-theme-700);
  --color-app-theme-800: var(--color-theme-800);
  --color-app-theme-900: var(--color-theme-900);
  --color-app-theme-950: var(--color-theme-950);
}

[data-color-theme="blue"] {
  --color-theme-50: var(--color-blue-50);
  --color-theme-100: var(--color-blue-100);
  --color-theme-200: var(--color-blue-200);
  --color-theme-300: var(--color-blue-300);
  --color-theme-400: var(--color-blue-400);
  --color-theme-500: var(--color-blue-500);
  --color-theme-600: var(--color-blue-600);
  --color-theme-700: var(--color-blue-700);
  --color-theme-800: var(--color-blue-800);
  --color-theme-900: var(--color-blue-900);
  --color-theme-950: var(--color-blue-950);
}

[data-color-theme="green"] {
  --color-theme-50: var(--color-green-50);
  --color-theme-100: var(--color-green-100);
  --color-theme-200: var(--color-green-200);
  --color-theme-300: var(--color-green-300);
  --color-theme-400: var(--color-green-400);
  --color-theme-500: var(--color-green-500);
  --color-theme-600: var(--color-green-600);
  --color-theme-700: var(--color-green-700);
  --color-theme-800: var(--color-green-800);
  --color-theme-900: var(--color-green-900);
  --color-theme-950: var(--color-green-950);
}

[data-color-theme="orange"] {
  --color-theme-50: var(--color-orange-50);
  --color-theme-100: var(--color-orange-100);
  --color-theme-200: var(--color-orange-200);
  --color-theme-300: var(--color-orange-300);
  --color-theme-400: var(--color-orange-400);
  --color-theme-500: var(--color-orange-500);
  --color-theme-600: var(--color-orange-600);
  --color-theme-700: var(--color-orange-700);
  --color-theme-800: var(--color-orange-800);
  --color-theme-900: var(--color-orange-900);
  --color-theme-950: var(--color-orange-950);
}

[data-color-theme="purple"] {
  --color-theme-50: var(--color-purple-50);
  --color-theme-100: var(--color-purple-100);
  --color-theme-200: var(--color-purple-200);
  --color-theme-300: var(--color-purple-300);
  --color-theme-400: var(--color-purple-400);
  --color-theme-500: var(--color-purple-500);
  --color-theme-600: var(--color-purple-600);
  --color-theme-700: var(--color-purple-700);
  --color-theme-800: var(--color-purple-800);
  --color-theme-900: var(--color-purple-900);
  --color-theme-950: var(--color-purple-950);
}

[data-color-theme="red"] {
  --color-theme-50: var(--color-red-50);
  --color-theme-100: var(--color-red-100);
  --color-theme-200: var(--color-red-200);
  --color-theme-300: var(--color-red-300);
  --color-theme-400: var(--color-red-400);
  --color-theme-500: var(--color-red-500);
  --color-theme-600: var(--color-red-600);
  --color-theme-700: var(--color-red-700);
  --color-theme-800: var(--color-red-800);
  --color-theme-900: var(--color-red-900);
  --color-theme-950: var(--color-red-950);
}

[data-color-theme="yellow"] {
  --color-theme-50: var(--color-yellow-50);
  --color-theme-100: var(--color-yellow-100);
  --color-theme-200: var(--color-yellow-200);
  --color-theme-300: var(--color-yellow-300);
  --color-theme-400: var(--color-yellow-400);
  --color-theme-500: var(--color-yellow-500);
  --color-theme-600: var(--color-yellow-600);
  --color-theme-700: var(--color-yellow-700);
  --color-theme-800: var(--color-yellow-800);
  --color-theme-900: var(--color-yellow-900);
  --color-theme-950: var(--color-yellow-950);
}

[data-color-theme="pink"] {
  --color-theme-50: var(--color-pink-50);
  --color-theme-100: var(--color-pink-100);
  --color-theme-200: var(--color-pink-200);
  --color-theme-300: var(--color-pink-300);
  --color-theme-400: var(--color-pink-400);
  --color-theme-500: var(--color-pink-500);
  --color-theme-600: var(--color-pink-600);
  --color-theme-700: var(--color-pink-700);
  --color-theme-800: var(--color-pink-800);
  --color-theme-900: var(--color-pink-900);
  --color-theme-950: var(--color-pink-950);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(54.6% 0.245 262.881);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

.icon {
  @apply w-4 h-4;
}

@keyframes scroll-indicator {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scroll-indicator {
  animation: scroll-indicator 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
